body
{
    background:#F2F2F2;   
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #424242;
}

/*タイトルラベル設定
-----------------------------------------------------*/
h1
{
    font-size:40px;
    color:white;
    background-color:black;
    text-decoration:none;
    display:block;
    width:300px;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    border:2px solid;
    border-color:#aaaaaa #444444 #444444 #aaaaaa;
}

/*ログインボタン設定
-----------------------------------------------------*/
div{
    text-decoration:none;
    color:black;
    margin-left:auto;
}


/* トップメニューバー設定
----------------------------------------------------------*/

.NavigationMenu{
    width:50vh;
}

div.hideSkiplink/*メニューバーの背景*/
{
    background-color:gray; 
    width:100%;
}

div.menu
{
    padding: 0px 0px 0px 0px;
    width:100%;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    height:50px;
    font-size:30px;
    font-weight: 400;
    background-color: #808080;  /*ボタンの枠内の色*/
    /*border: 1px #4e667d solid;*/
    color: #ffffff;             /*文字の色*/
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/*映画タイトルと映画の座席状況
-----------------------------------------------------------------*/
div.MTitle{
    margin-top:33%;
    margin-left:5%;
}
div.MSeet{}

div.PanelMName{
    float:left;
    text-align:center;
}
div.PanelSeet{
    margin-right:20px;
}
.TSeet{
    width:30%;
    margin-right:20px;
}