body
{
    background:#F2F2F2;   
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #424242;
}



/*アクセス画面
--------------------------------------------------------------------------------------------*/
.ImagePanel{
    margin-left:5%;
    float:left;
    width:40%;
    height:auto;
}

.TextPanel{
    float:right;
    width:40%;
    }
/*アクセスのラベル設定*/
.AccessLabel{
    margin-left:5%;
}


