body
{
    background:#F2F2F2;   
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #424242;
}

/*マスター
--------------------------------------------------------------------------------*/


/*会員情報表示・ログアウトボタン設定
-----------------------------*/
.MemberInfo{
    float:left;
    width:70%;
}



/*タイトルラベル設定
-----------------------------*/
.TitleLabel{
    text-decoration:none;
    color:white !important;
    height:150px;
    border-left: 2px solid #aaaaaa;
    border-right: 2px solid #444444;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #444444;
    font-size:40px;
    color:white;
    background-color:black;
    text-decoration:none;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    vertical-align:middle;
    text-align:center;
    line-height:150px;
}

/*ログイン、新規登録ボタンのコンテナ設定
-----------------------------*/
.MemberOperation{
    float:right;
    width:30%;
    margin-left:70%;
    padding: 10px,5px,10px,5px;
}



/*ログイン、新規登録ボタン設定 W715pxでボタン改行
----------------------------*/
.Loginslash{
    font-size:30px;
}
.LoginButton,.SignupButton{
    table-layout:fixed;
    color:#424242;
    border: solid 1px;
    border-color:#424242;
    background-color:#424242;
    color:white;
    border-radius:10px;
    text-decoration:none;
    box-sizing:border-box;
    width:50%;
    font-size:2.5vmax;
    white-space:nowrap;   
    padding:0 0 0 0;
}
.LoginButton:hover{
    
    background-color:white;
    color:#424242;
}
.SignupButton:hover{
    
    background-color:white;
    color:#424242;
}


/* トップメニューバー設定
---------------------------*/


div.hideSkiplink/*メニューバーの背景*/
{
    background-color:gray; 
    width:100%;
}

div.menu/*メニューバー全体の指定*/
{
    padding: 0px 0px 0px 0px;
    display: table;
    table-layout: fixed;
    width:100%;
    font-size:2.5vmax;
    white-space:nowrap;
}

div.menu ul
{
    width: 80%;
    list-style: none;
    margin: 0px;
    padding:0px;

}

div.menu ul li a, div.menu ul li a:visited
{

    height:50px;
    font-size:30px;
    font-weight: 400;
    background-color: #808080;  /*ボタンの枠内の色*/
    /*border: 1px #4e667d solid;*/
    color: #ffffff;             /*文字の色*/
    display: table-cell;
    vertical-align:middle;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    width:12.5%;
    height:auto;
}


div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
    width:100%;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}


/*アクセス画面
--------------------------------------------------------------------------------------------*/
.ImagePanel{
    margin-left:5%;
    float:left;
    width:40%;
    height:auto;
}

.TextPanel{
    float:right;
    width:40%;
    }
/*アクセスのラベル設定*/
.AccessLabel{
    margin-left:5%;
}

/*トップ画面
広告
-------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) {
    .AdImage{
        float:left;
        width: 60%;
        height: auto;
    
    }
    .GridView{
        float:right;
        width:40%
    }
}

@media screen and (max-width:767px) {
    .Body {
        margin-left: 10%;
        margin-right: 10%;
    }

    .AdImage {
        width: 100%;
        height: auto;
    }
    /*注目映画と料金表のテキスト*/
    .MainMText, .PriceText {
        width: auto;
        text-align: center;
        font-size: 20px;
    }

    /*注目映画*/
    .MainMovie {
        float: left;
        margin-top: 5%;
    }

    .MainMovieInfo {
        width: 45%;
        height: auto;
        border: 2px solid;
    }
    /*料金表*/
    .Price {
        float: right;
        margin-top: 5%;
    }

    .PriceGridView {
        width: 45%;
        height: auto;
        border: 2px solid;
    }
}

/*ログイン画面
--------------------------------------------------------------------------------------------*/
.MenberInfoPanel{
    margin-left:5%;
    margin-right:5%;
    height:100%;
}
.AdmissionPanel{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}
.AdmissionText{
    margin-left:43%;
    text-align:center;
    font-size:30px;
}

.NameText{
    font-size:30px;
    width:100%;
    float:left;
}
.NameTextBox {
    width:85%;
    height:40px;
    font-size:30px;
    float:right;
}
.KanjiPanel{
    float:left;
    width:40%;
    clear:both;
}
.KanaPanel{
    float:right;
    width:60%;
}
.NameInPanel{
    width:100%;
    background-color:#00dbe2;
}
.TextBox{
    width:200px;
    height:30px;
    font-size:30px;
}
.BirthTextBox{
    width:80px;
    height:30px;
    font-size:30px;
}

.SexPanel{
    width:100%;
    background-color:#ed7f07;
}
.BirthPanel{
    background-color:#c9fa00;
}
.AddressPanel{
    background-color:#eef100;
}
.TODOHUKEN{
    float:left;
    width:40%;
}
.SI-KU-GUN{
    float:right;
    width:60%;
}